.section {
  margin-left: 20%;
  @include respond(phone) {
    margin-left: 0;
  }

  &-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    &__learn-more {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%);
      text-align: right;
    }
  }

  &-about {
    background-color: $color-grey-light-1;
    padding: 5rem 5rem 10rem;

    @include respond(tab-port) {
      padding-bottom: 5rem;
    }

    &__photo {
      width: 55%; // always good to define images with % and not rem
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    }
  }

  &-portfolio {
    background-color: $color-white;
    padding: 5rem 3rem 10rem;

    @include respond(tab-port) {
      padding: 5rem 5rem 5rem;
    }
  }

  &-resume {
    background-color: $color-grey-light-1;
    padding: 5rem 5rem 10rem;

    @include respond(tab-port) {
      padding: 5rem 8rem 0;
    }
  }

  &-contact {
    //background-color: $color-white;
    padding: 5rem 5rem 10rem;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.7),
        rgba($color-primary-dark, 0.7)
      ),
      url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    @include respond(tab-port) {
      padding-bottom: 5rem;
    }
  }
}
