.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block; /* inline blocks treated like text! */
    border-radius: 10rem;
    transition: all 0.2s; /* shorthand for transition */
    font-size: 1.6rem;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* offset in x, offset in y, blur, color */
  }

  &:active {
    transform: translate(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2); /* offset in x, offset in y, blur, color */
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $default-font-size;
    transition: all 0.2s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}
