.contact-icons {
  &__icon {
    font-size: 10rem;
    display: block;
    margin-bottom: 2rem;
  }

  &__anchor {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-grey-dark;
    margin-bottom: 4rem;
    transition: all 0.2s;

    &:hover {
      color: $color-primary-dark;
      transform: translateY(-1rem) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
  }
}
