.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 6rem 2rem 1rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
  @include respond(phone) {
    visibility: hidden;
  }

  &__title {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 50px;
  }

  &__footer {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    font-size: 2rem;
  }

  &__menu-items {
    padding: 0.5rem 0.8rem 0.6rem 1.6rem;
    font-size: 1.8rem;
  }

  & a {
    text-decoration: none;
    color: #818181;
    display: block;
  }

  & a:hover {
    color: $color-primary;
  }
}
