*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* setting root font size for rems at 10px (browser defaults to 16px) */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
