/*
0-600: phone
600-900: tablet (portrait)
900-1200: tablet (landscape)
[1200-1800]: normal styles (bc we did desktop first)
1800+: big desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* setting root font size for rems at 10px (browser defaults to 16px) */
  scroll-behavior: smooth; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

body {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  /* fixes jumpy animations */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 0.4rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    white-space: nowrap; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 5rem;
        letter-spacing: 0.2rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    animation: moveInRight 1s ease-out;
    /* shorthand version */ }

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #a3cef1, #274c77);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: translateY(-1rem) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-secondary-white {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: 2px;
  transition: all 0.2s; }
  @media (max-width: 37.5em) {
    .heading-secondary-white {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary-white {
      font-size: 2.5rem; } }
  .heading-secondary-white:hover {
    transform: translateY(-1rem) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem; }
  .paragraph:last-child {
    margin-bottom: 0; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }
  @media (max-width: 37.5em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* inline blocks treated like text! */
  border-radius: 10rem;
  transition: all 0.2s;
  /* shorthand for transition */
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* offset in x, offset in y, blur, color */ }

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* offset in x, offset in y, blur, color */ }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--blue {
  background-color: #6096ba;
  color: #fff; }

.btn__icon {
  font-size: 2.5rem;
  margin-right: 1rem; }

.btn__icon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }

.btn-text:link, .btn-text:visited {
  color: #6096ba;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #6096ba;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #6096ba;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 45rem; }
  .card__side {
    height: 45rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #a3cef1, #274c77); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    background-position: top;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--spotify-mobile {
      background-image: url(../../assets/img/thumbnail-spotify.jpg); }
    .card__picture--weather-mobile {
      background-image: url(../../assets/img/thumbnail-weather-mobile.PNG); }
    .card__picture--country-quiz-web {
      background-image: url(../../assets/img/thumbnail-quiz.jpg); }
    .card__picture--omnifood-web {
      background-image: url(../../assets/img/thumbnail-omnifood-3.png); }
    .card__picture--windbnb-web {
      background-image: url(../../assets/img/thumbnail-windbnb-web.jpg); }
    .card__picture--weather-web {
      background-image: url(../../assets/img/thumbnail-weather-web.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%; }
  .card__heading-span {
    padding: 1rem 1rem;
    background-image: linear-gradient(to right bottom, rgba(163, 206, 241, 0.85), rgba(39, 76, 119, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details--sub-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }

.composition {
  text-align: center; }
  .composition__photo {
    height: 80%;
    width: 80%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    z-index: 10;
    transition: all 0.2s; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }

.contact__heading {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem; }

.contact__row {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.contact__container {
  width: 30%; }

.contact__icon {
  font-size: 10rem;
  display: block;
  margin-bottom: 2rem; }

.contact__label {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  text-overflow: wrap; }

.contact__anchor {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin-bottom: 4rem;
  transition: all 0.2s; }
  .contact__anchor:hover {
    color: #274c77;
    transform: translateY(-1rem) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.mobile-nav {
  visibility: hidden; }
  @media (max-width: 37.5em) {
    .mobile-nav {
      visibility: visible; } }
  .mobile-nav__checkbox {
    display: none; }
  .mobile-nav__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    text-align: center; }
  .mobile-nav__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(#a3cef1, #274c77);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .mobile-nav__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .mobile-nav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .mobile-nav__item {
    margin: 1rem; }
  .mobile-nav__link {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; }
  .mobile-nav__checkbox:checked ~ .mobile-nav__background {
    transform: scale(80); }
  .mobile-nav__checkbox:checked ~ .mobile-nav__nav {
    opacity: 1;
    width: 100%; }
  .mobile-nav__icon {
    position: relative;
    margin-top: 2.5rem; }
    .mobile-nav__icon, .mobile-nav__icon::before, .mobile-nav__icon::after {
      width: 2.5rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
    .mobile-nav__icon::before, .mobile-nav__icon::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .mobile-nav__icon::before {
      top: -0.8rem; }
    .mobile-nav__icon::after {
      top: 0.8rem; }
  .mobile-nav__button:hover .mobile-nav__icon::before {
    top: -1rem; }
  .mobile-nav__button:hover .mobile-nav__icon::after {
    top: 1rem; }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon {
    background-color: transparent; }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::after {
    top: 0;
    transform: rotate(-135deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 2; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s; }
  .popup__left {
    width: 33%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    width: 67%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup h3 {
    text-transform: none;
    font-size: 2rem; }
  .popup__text {
    font-size: 1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s;
    line-height: 1; }
  .popup__close:hover {
    color: #6096ba; }
  .popup ul {
    list-style: none; }
  .popup li {
    font-size: 1.5rem;
    padding-bottom: 0.5rem; }

.video-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.video-player {
  padding: 2rem 0 1.9rem; }

.resume__list {
  margin-bottom: 3rem;
  list-style: none; }
  .resume__list--columns-three {
    -moz-column-count: 3;
    -moz-column-gap: 2rem;
    column-count: 3;
    column-gap: 2rem; }
  .resume__list--columns-two {
    -moz-column-count: 2;
    -moz-column-gap: 2rem;
    column-count: 2;
    column-gap: 2rem; }

.resume__item {
  font-size: 1.5rem;
  margin-bottom: 1.5rem; }
  .resume__item--icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }

.resume__icon {
  font-size: 3rem;
  margin-bottom: 1rem; }

.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 20%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #fff;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 6rem 2rem 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 37.5em) {
    .sidenav {
      visibility: hidden; } }
  .sidenav__title {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 50px; }
  .sidenav__footer {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .sidenav__icon {
    font-size: 2rem; }
  .sidenav__menu-items {
    padding: 0.5rem 0.8rem 0.6rem 1.6rem;
    font-size: 1.8rem; }
  .sidenav a {
    text-decoration: none;
    color: #818181;
    display: block; }
  .sidenav a:hover {
    color: #6096ba; }

.row {
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  @media (max-width: 56.25em) {
    .row {
      margin-bottom: 0; }
      .row:last-child {
        margin-bottom: 0; } }
  .row:last-child {
    margin-bottom: 0; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left;
    margin-right: 6rem; }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        margin-right: 0;
        margin-bottom: 6rem; } }
    .row [class^='col-']:last-child {
      margin-right: 0; }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(163, 206, 241, 0.8), rgba(39, 76, 119, 0.8)), url(../../assets/img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  /* requried for top, left, etc to work for children */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }

.section {
  margin-left: 20%; }
  @media (max-width: 37.5em) {
    .section {
      margin-left: 0; } }
  .section-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative; }
    .section-hero__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
    .section-hero__learn-more {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%);
      text-align: right; }
  .section-about {
    background-color: #f7f7f7;
    padding: 5rem 5rem 10rem; }
    @media (max-width: 56.25em) {
      .section-about {
        padding-bottom: 5rem; } }
    .section-about__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .section-portfolio {
    background-color: #fff;
    padding: 5rem 3rem 10rem; }
    @media (max-width: 56.25em) {
      .section-portfolio {
        padding: 5rem 5rem 5rem; } }
  .section-resume {
    background-color: #f7f7f7;
    padding: 5rem 5rem 10rem; }
    @media (max-width: 56.25em) {
      .section-resume {
        padding: 5rem 8rem 0; } }
  .section-contact {
    padding: 5rem 5rem 10rem;
    background-image: linear-gradient(to right bottom, rgba(96, 150, 186, 0.7), rgba(39, 76, 119, 0.7)), url(../../assets/img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative; }
    @media (max-width: 56.25em) {
      .section-contact {
        padding-bottom: 5rem; } }
